<% if staff_signed_in? %>
<div class="head">
      <div class="brand">
        <h2><%= link_to 'TAP', staffs_path %></h2>
      </div>
      <div class="menu-container">

         <ul>
           <li>
             <%= link_to "Sign Out", destroy_staff_session_path, method: :delete %>
           </li>
           <li>
             <%= link_to "Team", teams_path(current_staff) %>
           </li>
           <li>
             <%= link_to "Account", edit_staff_registration_path %>
           </li>
           <li>
               <%= link_to current_staff.email, staff_path(current_staff) %>
           </li>
           <li class="profile-avatar"><%= image_tag current_staff.avatar, size: '28x28' %></li>
         </ul>
         </div class="clear">
      </div> <!-- END OF MENU CONTAINER -->
</div class="clear">
</div> <!-- END of HEAD DIV -->

<div class ="container">
  <div class="toast">
    <p id="notice"><%= notice %></p>
  </div>

  <section>
    <div>
      <%= form_for @posts.new do |f| %>
        <h2>Hi! What are you up to today?</h2>
        <div class="feed-form">
          <%= f.cktext_area :body, rows: 10, placeholder: 'Create a new post' %>
          <%= f.hidden_field :staff_id, value: current_staff.id %>
        </div>
        <div class="feed-actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </section
</div>

<div class="container">
  <section>
    <h3>User Feeds</h3>
    <% @posts.each do |post| %>
    <div class="user_post">
        <div class="feed-content">
          <div class="feed-avatar col-xs-3">
            <%= image_tag post.staff.avatar, size: '50x50'  %>
          </div>
          <div class="feed-user col-xs-6">
            <%= link_to post.staff.email, staff_path(post.staff) %><br />
            <%= post.created_at.strftime("%b %d %Y, %l:%M%P") %>
          </div>
          <div class="clear"></div>
          <div class="feed-context col-xs-9">
            <h4><%= post.body.html_safe %></h4>
          </div>
            <% if can? :update, post %>
            <div class="feed-action col-xs-6">
              <%= link_to "Edit", edit_post_path(post) %>
              <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
              <% end %>
            </div>
            <% end %>
            <% if post != @posts.last %>
            <hr />
            <% end %>
            <!-- start of comment block -->
            <div class="comment-content">
              <h6>Comments</h6>
              <% post.comments.each do |comment| %> <!-- start of comment block -->
                <div class="comment-profile">
                  <%= image_tag comment.staff.avatar, size: '28x28'  %>
                </div>
                <div class="comment-user">
                  <%= link_to comment.staff.email, staff_path(comment.staff) %><br />
                  <%= comment.created_at.strftime('%b %d %Y, %l:%M%P') %>
                </div>
                <div class="clear"></div>
                <div class="comment-context">
                  <p><%= comment.content %></p>
                </div>
                <div class="comment-action">
                  <% if can? :update, comment %>
                    <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %>
                    <%= link_to [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn' do %>
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <div class="create-comment">
                <!-- form for comment -->
                  <%= form_for :comment, url: post_comments_path(post) do |f| %>
                    <div class="field">
                      <%= f.text_area :content, id: :comment_content, placeholder: 'Add new comment' %>
                      <%= f.hidden_field :staff_id, value: current_staff.id %>
                    </div>

                    <div class="actions"> <!-- form submit for comment -->
                      <%= f.submit %>
                    </div>
                    <% end %> <!-- end of comment block -->
                  </div>
          <% end %>
        </div>
      </div>
  </div> <!-- END OF USER_POST -->
    <%= will_paginate @posts %>
  </section>
  <% else %>

<!-- start of sign in page -->
  <% end %> <!-- IF Signed in statement -->
</div><!-- END of CONTAINER DIV -->
