<% if staff_signed_in? %>
<div class="head">
      <div class="brand">
        <h2><%= link_to 'TAP', staffs_path %></h2>
      </div>
      <div class="menu-container">

         <ul>
           <li>
             <%= link_to "Sign Out", destroy_staff_session_path, method: :delete %>
           </li>
           <li>
             <%= link_to "Team", teams_path(current_staff) %>
           </li>
           <li>
             <%= link_to "Account", edit_staff_registration_path %>
           </li>
           <li>
               <%= link_to current_staff.email, staff_path(current_staff) %>
           </li>
           <li class="profile-avatar"><%= image_tag current_staff.avatar, size: '28x28' %></li>
         </ul>
         </div class="clear">
      </div> <!-- END OF MENU CONTAINER -->
</div class="clear">
</div> <!-- END of HEAD DIV -->

<div class ="container">
  <div class="toast">
    <p id="notice"><%= notice %></p>
  </div>
  <section>
    <h2>Hi! What are you up to today?</h2>

      <!-- form for feed -->
      <div class="create-feed">
        <%= form_for (@feeds.new) do |form| %>
      <div class="field">
        <%= form.text_area :content, placeholder: 'Create a new post' %>
        <%= form.hidden_field :staff_id, value: current_staff.id %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
      <% end %>
    </div>
  </section>
</div>
<div class="container">
  <section>
    <div class="user_post">

        <h3>User Feeds</h3>
          <!-- start of feed block -->
          <% @feeds.each do |feed| %>
            <div class="feed-content">

              <div>

                <div class="feed-avatar col-xs-3">
                  <%= image_tag feed.staff.avatar, size: '50x50'  %>
                </div>
                <div class="feed-user col-xs-6">
                  <%= link_to feed.staff.email, staff_path(feed.staff) %><br />
                  <%= feed.created_at.strftime("%b %d %Y, %l:%M%P") %>
                </div>
                <div class="clear"></div>
                <div class="feed-context col-xs-9">
                  <h4><%= feed.content %></h4>
                </div>
                  <% if can? :update, feed %>
                <div class="feed-action col-xs-6">
                  <%= link_to 'Edit', edit_feed_path(feed) %>
                  <%= link_to feed, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                  <% end %>
                </div>
                  <% end %> <!-- end of feed block -->
              </div>

              <!-- start of comment block -->
              <div class="comment-content">
                <h6>Comments</h6>
                <% feed.comments.each do |comment| %> <!-- start of comment block -->
                  <div class="comment-profile">
                    <%= image_tag comment.staff.avatar, size: '28x28'  %>
                  </div>
                  <div class="comment-user">
                    <%= link_to comment.staff.email, staff_path(comment.staff) %><br />
                    <%= comment.created_at.strftime('%b %d %Y, %l:%M%P') %>
                  </div>
                  <div class="clear"></div>
                  <div class="comment-context">
                    <p><%= comment.content %></p>
                  </div>
                  <div class="comment-action">
                    <% if can? :update, comment %>
                      <%= link_to 'Edit', edit_feed_comment_path(comment.feed, comment) %>
                      <%= link_to [comment.feed, comment], method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn' do %>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <div class="create-comment">
                  <!-- form for comment -->
                    <%= form_for :comment, url: feed_comments_path(feed) do |f| %>
                      <div class="field">
                        <%= f.text_area :content, id: :comment_content, placeholder: 'Add new comment' %>
                        <%= f.hidden_field :staff_id, value: current_staff.id %>
                      </div>

                      <div class="actions"> <!-- form submit for comment -->
                        <%= f.submit %>
                      </div>
                      <% end %> <!-- end of comment block -->
                    </div>
            </div>

          <% end %>

  </div> <!-- END OF USER_POST -->
    <%= will_paginate @feeds %>
  </section>
  <% else %>

<!-- start of sign in page -->
<div class="container log-session">
  <div class="log-head">
    <h2>Please Sign In</h2>
  </div>
  <section>
  <div class="logo">
    <h1>WORKDIR</h1>
  </div>
  <%= form_for(:staff, :url => session_path(:staff)) do |f| %>
    <div class="field">
      <%= f.text_field :email, placeholder: "email", class: "log-field" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "password", class: "log-field" %>
    </div>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <div class="field">
      <%= f.submit 'Sign in', class: "log-field" %>
      <%= link_to "Forgot your password?", new_password_path(:staff) %>
    </div>
    <% end %>
  </section>
</div>
  <% end %> <!-- IF Signed in statement -->
</div><!-- END of CONTAINER DIV -->
