<h1>New Staff</h1>

<%= render 'form', staff: @staff %>
<% @staffs.each do |staff| %>
  <tr>
    <td><%= link_to 'Show', staff %></td>
    <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
    <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<%= link_to 'Back', staffs_path %>
