<div class="head">
      <div class="brand">
        <h2><%= link_to 'TAP', staffs_path %></h2>
      </div>
      <div class="menu-container">

         <% if staff_signed_in? %>
         <ul>
           <li>
             <%= link_to "Sign Out", destroy_staff_session_path, method: :delete %>
           </li>
           <li>
             <%= link_to "Team", teams_path(current_staff) %>
           </li>
           <li>
             <%= link_to "Account", edit_staff_registration_path %>
           </li>
           <li>
               <%= link_to current_staff.email, staff_path(current_staff) %>
           </li>
           <li class="profile-avatar"><%= image_tag current_staff.avatar, size: '28x28' %></li>
         </ul>
         <% end %>
         </div class="clear">
      </div> <!-- END OF MENU CONTAINER -->
</div class="clear">
</div> <!-- END of HEAD DIV -->

<p id="notice"><%= notice %></p>
<div class="container">
  <section>
    <table>
      <thead>
        <tr>
          <h1><%= current_staff.team.name %> Members</h1>
        </tr>
      </thead>
      <tbody>
        <% @staffs.each do |staff| %>
        <tr>
          <td><%= image_tag staff.avatar, size: '28x28' %></td>
          <td><%= link_to staff.email, staff_path(staff) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Return to Home', staffs_path %>
  </section>
</div>
